/* Dark Mode */
.dark-mode {
  background: #111;
  color: white;
}
.dark-btn {
  background: #ff4081;
  border: none;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* Typing Effect */
.typing {
  font-size: 45px;
  color: #ff4081;
  font-weight: bold;
  height: 50px;
}

/* Scroll Reveal Effect */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: 0.6s ease;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
